@import "tailwindcss";

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media print {
  body {
    background-color: white !important;
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
  }
  .no-print {
    display: none !important;
  }
  .print-full {
    width: 100% !important;
    max-width: 100% !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
  }
}
